# Add any directories, files, or patterns you don't want to be tracked by version control
/bin
/bin
/**/*.user
/**/*.suo
/**/*.dll
/**/*.dll.config
/**/*.pdb
/**/*.exe
/**/*.exe.config
/**/*.cache