<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body style="margin: 0; padding: 0; background: #fff;-webkit-text-size-adjust:100%;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="outer" style="position:relative;background:#ddd;">
        <tbody>
            <tr>
                <td>
                    <table align="center" cellpadding="0" cellspacing="0" border="0" width="670" style="background:#fff;position:relative;border:0;border-left:1px solid #ccc;border-right:1px solid #ccc;">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" width="670" style="background:#f2f2f2;table-layout:fixed;">
                                        <tbody>
                                            <tr>
                                                <td width="458" style=" height: 50px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; vertical-align: middle;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>

                                                                <td style="font-size: 14px; color: #666; vertical-align: middle;"> Forgot your password? </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td  style="background:#fff;">
                                    <table width="520" border="0" cellpadding="0" cellspacing="0" style="background:#fff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px;">
                                                                    Rating & Review Engine received a request to reset the password for your account. To reset your password, click on the button below:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;">

                                                                    <table border="0" cellpadding="0" cellspacing="0" style="white-space: nowrap; background-color: #c8e8ff; border-radius: 5px; border: 1px solid #2288cc; padding: 5px 0 5px 0; text-align: center; height: 28px; ">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" style="color:#ffffff;font-size:13px;font-weight:bold;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;text-shadow:0px -1px 0px #3399dd;white-space:nowrap;padding-left:30px;padding-right:30px;">
                                                                                    <span>
                                                                                        <a href={0}
                                                                                           style="border:none;text-decoration:none;color:GrayText;font-size:13px;font-weight:bold; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                                                                            Reset your password now
                                                                                        </a>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px;">
                                                                    Or copy and paste the URL into your browser:<br /> <a href={0} style="border:none;color:#0084b4;text-decoration:none;">{0}</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="670" style="background-color:#eee;background-position:top;background-repeat:repeat-x;border-top-color:#ddd;border-top-style:solid;border-top-width:1px;">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" height="16"></td>
                                            </tr>
                                            <tr>

                                                <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;line-height:17px;color:#777;text-shadow:0 1px 0 #fff;">
                                                    <div>
                                                        Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of Rating Review engine.
                                                    </div>
                                                    <div>
                                                        <a href="#" style="border:none;color:#0084b4;text-decoration:none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;text-decoration:none;font-size:11px;line-height:17px;color:#999999;text-shadow:0 1px 0 #fff;">Copyright &copy; 1995-2014 Michael Hill All rights reserved.</a>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3" height="25"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
