<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>

  <connectionStrings>
    <add name="ratingreview" connectionString="server=192.168.0.111;user id=root;password=vss;database=ratingreviewengine;Allow User Variables=True;Pooling=True;Use Procedure Bodies=false;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="APIToken" value="SZUP14ZSbwMbWXb1gBY5t1nAXXaqEK4i"/>
    <!--<add key="APIUrl" value="http://localhost:19406/RatingReviewEngineAPI.svc/" />
    <add key="WebUrl" value="http://localhost:3302/LoginService.asmx/" />-->
    
    <!--<add key="APIUrl" value="http://localhost:3323/API/RatingReviewEngineAPI.svc/" />
    <add key="WebUrl" value="http://localhost:3323/LoginService.asmx/" />
    <add key="FileUploadUrl" value="http://localhost:3323/API/FileUploadService.svc/" />-->
    
    <add key="APIUrl" value="https://localhost:44301/API/RatingReviewEngineAPI.svc/" />
    <add key="WebUrl" value="https://localhost:44301/LoginService.asmx/" />
    <add key="FileUploadUrl" value="https://localhost:44301/API/FileUploadService.svc/" />
    <add key="TwittKey" value="uVkWkacLN6Q4vlOB7jXdXPYrE"/>
    <add key="TwittSecret" value="7MoksWaEoanPHSZ5wzjEoLvdUH0HDDL6xnXYffrbPDBjUmUZIq"/>
    <add key="FacebookID" value="312069488942229"/>
    <add key="FacebookSecret" value="e944bd5adb63b731faa80d7a02e7ac49"/>
    <add key="MicrosoftId" value="000000004811841E"/>
    <add key="MicrosoftSecret" value="K4pA2Jkz06-dAAOyq-ddGoMdq1SAo0bz"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="Home.aspx" />
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>

</configuration>
