<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  <connectionStrings>
    <add name="ratingreview" connectionString="server=192.168.1.111;user id=root;password=vss;database=ratingreviewengine;Allow User Variables=True;Pooling=True;Use Procedure Bodies=false;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="APIToken" value="SZUP14ZSbwMbWXb1gBY5t1nAXXaqEK4i"/>
    <add key="ServiceUrl" value="http://localhost:19406/RatingReviewEngineAPI.svc/" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRatingReviewEngineAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:19406/RatingReviewEngineAPI.svc/soapService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRatingReviewEngineAPI" contract="MichaelHill.IRatingReviewEngineAPI" name="BasicHttpBinding_IRatingReviewEngineAPI"/>
    </client>
  </system.serviceModel>
  
</configuration>